services:
  cimo_ms_ocr_gpu:
    container_name: cimo-ms-ocr-gpu
    env_file:
      - ./env/local.env
    build:
      context: ./
      dockerfile: ./docker/${DOCKERFILE}
      args:
        _ENV_NAME: ${ENV_NAME}
        _DOMAIN: ${DOMAIN}
        _TIME_ZONE: ${TIME_ZONE}
        _LANG: ${LANG}
        _SERVER_PORT: ${SERVER_PORT}
        _PATH_ROOT: ${PATH_ROOT}
    ports:
      - 127.0.0.1:${SERVER_PORT}:${SERVER_PORT}
    volumes:
      - ./:${PATH_ROOT}
      - ms_cronjob-volume:${PATH_ROOT}.ms_cronjob-volume/:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
    extra_hosts:
      - "host.docker.internal:host-gateway"
    devices:
      - /dev/dri:/dev/dri
    runtime: "nvidia"
volumes:
  ms_cronjob-volume:
